#app {
  margin-left: 50px;
  /* margin-top: 20px; */
}

body {
  background-color: #F3F7FD;
  /* background-color: #5384a9; */
  /* background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); */
  background-attachment: fixed;
}

.content_area {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-self: flex-start; */
  width: 80%;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 17px;

  box-shadow: 0px 8px 24px 0px rgb(149 157 165 / 50%);
  height: auto;
}

.main_area {
  display: flex;
  flex-direction: row;
}

.title_area {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}

.video_name {
  font-size: 40px;
}

.title_name,
.title_version,
.title_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

.count_icon {
  margin-right: 10px;
}


.title_name {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 5px;
}


.advise_list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  overflow: hidden;
}

.video_info {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 16px;
  margin-bottom: 10px;
}

.v_duration,
.v_rr,
.v_note {
  font-size: 12px;
  margin-right: 20px;
}

.advise_head {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 56px;
}

.timeline {
  height: 596px;
  overflow: scroll;
}

.timeline::-webkit-scrollbar {
  display: none
}

.video_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: 80%;
}

.video {
  border-radius: 5px;
  box-shadow: 0px 8px 24px 0px rgb(149 157 165 / 50%);
  margin-bottom: 30px;
}


.input_area {
  display: flex;
  border-radius: 17px;
}

.input_revise {
  margin-right: 20px;
  padding-right: 0px;
  width: 80%;
  box-shadow: 0px 8px 24px 0px rgb(149 157 165 / 50%);
}

.enter {
  width: 8%;
  box-shadow: 0px 8px 24px 0px rgb(149 157 165 / 50%);
}

.export {
  margin: 0 auto;
  margin-top: 29.5px;
  margin-bottom: 25px;
  width: 60%;
  box-shadow: 0px 8px 24px 0px rgb(149 157 165 / 50%);
}

.del_advise {
  float: right;
}

.mark {
  width: 200px;
  height: 200px;
  box-shadow: 0px 8px 24px 0px rgb(149 157 165 / 50%);
}